@font-face {
    font-family: 'Big Shoulders Stencil Display';
    src: url('./fonts/BigShouldersStencilDisplay-VariableFont_wght.ttf') format('truetype'); 
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Big Shoulders Stencil Display'; 
}

.game-container {
    display: flex;
    justify-content: space-around;
}

header {
    display: flex;
    justify-content: center;
}

.turn-container {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.grid-row {
    display: flex;
}

.grid-cell {
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    /* 2px solid black */
    color: blue
}

#ai-board>.grid-row>.grid-cell:hover {
    border: 2px solid white;
    /* 2px solid black */
}

.ship-there {
    background-color: lightgreen;
}

.hit {
    background-color: grey;
}

#ai-board .ship-there {
    background-color: white;
}

#ai-board .hit.ship-there,
.hit.ship-there {
    background-color: red;
}

.grid-container {
    margin-top: 50px;
}

.player-container {
    display: flex;
    justify-content: space-between;
}

.all-ship-container {
    margin-top: 70px;
}

.ship-container {
    display: flex;
    justify-content: center;
}

.ship {
    display: flex;
    width: 150px;
}

.ship.sunk {
    filter: invert(25%) sepia(95%) saturate(6179%) hue-rotate(355deg) brightness(95%) contrast(121%);
}

.destroyer {
    width: 75px;
}

.destroyer.sunk {
    filter: invert(25%) sepia(95%) saturate(6179%) hue-rotate(355deg) brightness(95%) contrast(121%);
}

.cruiser {
    width: 100px;
}

.ship-description {
    display: none;
    position: relative;
}

.ship:hover+.ship-description,
.destroyer:hover+.ship-description {
    display: block;
    color: red;
}

/* The Modal (background) */
.modal {
    display: block;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 50%;
}

#modal-title {
    display: flex;
    justify-content: center;
}

#place-ships-container {
    display: flex;
    justify-content: space-around;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.ship-types {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.ship-types-content {
    margin-bottom: 25px;
}
